@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
.container{
    width: 400px;
    padding-top: 10px;
    margin-left: 50px;
    padding-left: 20px;
    padding-bottom: 10px;
    border-radius: 4px;
    border-left: 2px solid rgb(232, 232, 232);
    border-right: 2px solid rgb(232, 232, 232);
    border-bottom: 3px solid rgb(232, 232, 232);
    
}
.title{
    margin: 0;
    font-family: Roboto, sans-serif;
    font-weight: 400;
}


.input{
    outline: none;
    border-radius: 4px;
    border: 1px solid rgb(232, 232, 232);
    width: 90%;
    height: 40px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
}
.input:focus{
    border: 1px solid #2e4fb3;
}
.button{
    cursor: pointer;
    margin-top: 10px;
    width: 91.5%;
    height: 35px;
    border: none;
    color: white;
    background-color: #2e4fb3;
    border-radius: 4px;
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    font-family: Roboto;
    font-weight: 400;
}
.button:hover{
    background-color: #264294;
}
.button:focus{
    outline: none;
}