.list-contact-enter{
    opacity: 0;
    transform: translateX(-100%);
}

.list-contact-enter-active{
    opacity: 1;
    transform: translateX(0);
    transition: all 250ms linear;
}
.list-contact-exit{
    opacity: 1;
    transform: translateX(0);
    transition: all 250ms linear;
}

.list-contact-exit-active{
    opacity: 0;
    transform: translateX(-100%);
}